/* NavbarFe */
.navbar-brand{
    font-style: italic;
    padding-left: 2%;
}

/* Slider */
.carousel-flex{
    display: flex;
    justify-content: center; 
}
.carousel-width{
    width: 50%;
    padding-top: 10%;
}
.carousel-active{
    padding-bottom: 10%;
}

/* Homepage */
.home{
    height: 50%;
    width: 90%;
}

.mainSection{
    display: flex;
    background-color: gray;
    justify-content: space-around;
    align-items: center;
}
.contentBox{
    width: 40%;   
}
.contentBox h1{
    font-size: 3rem;
}
.contentBox p{
    margin: 1em 0;
    color: white;
}
.viewMore{
    color: black;
    font-size: 1rem;
    text-decoration: none;
}
.imgContainer{
    width: 40%;
}
.btnBox{
    width: 100%;
    margin-top: 3em;
}
/* NavbarFe */
.logo-name1{
    width: 120%;
    margin-left: 10%;
}
.logoContainer{
    width: 5%;
    margin-left: 2%;
}

.section{
    padding-top: 40px;
    padding-bottom: 40px;
}
.main-heading{
    /* color: rgb(204, 18, 18); */
    font-size: 26px;
    text-align: center;
}
.underline{
    height: 04px;
    width: 4rem;
    background-color: #f76c2f;
    margin-top: 10px;
    margin-bottom: 10px;
}
.section h1{
    font-size: 2rem;
}
.service{
    margin: 1rem;
    text-align: center;
    color: blue;
    font-size: 20px;
    font-weight: 500;
}
.Section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.content-Box{
    width: 90%;
    padding-left: 1em;
}
.content-Box h2{
    font-size: 2rem;
}
.content-Box p{
    margin: 2em 0; 
}
.clickHere{
    text-decoration: none;
}
.btn-Box{
    display: flex;
}
.main{
    color: blue;
    margin: 1rem 0;
}
.footer a{
    color: white;
    text-decoration: none !important;
}


